export PORT=9000
export VER=`git rev-parse --short HEAD `
export URL=http://localhost:$PORT
export STATIC_URL=$URL/-

export NODE_ENV=development
#export NODE_DEBUG=redis
export DEBUG=LnCC,superagent

export LND_ORCHESTRATOR_URI=http://localhost:9001
